<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Crear Usuario</title>
</head>
<body>
    <h1>Agregar un Amigo</h1>
    <form action="/user/create" method="POST">
        <label for="fname">First Name:</label>
        <input type="text" name="first_name">
        <label for="lname">Last Name:</label>
        <input type="text" name="last_name">
        <label for="occ" >email:</label>
        <input type="text" name="email">
        <input type="submit" value="Add User">
    </form> 
</body>
</html>
