<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/user.css') }}">
    <title>User</title>
</head>
<body>
    {% for user in users %}
    <h2 class="text-center">User {{user.id}}</h2>
    <p>Full Name {{user.first_name}} {{user.last_name}}</p>
    <p>Email: {{user.email}}</p>
    <p>Created ON: {{user.created_at }}</p>
    <p>Last Updated: {{user.updated_at }}</p>
    {% endfor%}
</body>
</html>